<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="header"></div>
    <div><p class="h3" th:text="#{title} + '. ' + #{check.title}"></p></div>
    <div th:if="${session.user != null and (session.user.userType.type == 'cashier' or session.user.userType.type == 'senior_cashier')}">
    	<p th:if="${addedCheck != null and addedCheck}"class="h4" th:text="#{check.check} + ' ' + #{check.success}">
    	<p th:if="${addedCheck != null and not addedCheck}" class="h4" th:text="#{check.error}">
		<p th:if="${wronginput != null}" class="h4" th:text="#{check.wronginput} + '!'">
		<p th:if="${goodsCodeNotFound != null}" class="h4" th:text="#{check.code} + ' ' + ${goodsCodeNotFound} + ' ' + #{check.codenotfound}+ '!'">
		<p th:if="${goodsNameNotFound != null}" class="h4" th:text="#{check.goodname} + ' ' + ${goodsNameNotFound} + ' ' + #{check.namenotfound}+ '!'">
    	<FORM method="POST">
    		<div class="form-group row">
    			
			    <label class="col-sm-2 col-form-label" th:text="#{check.goodname}"></label>
			    <div class="col-sm-10">
			      <input id="id_name" name="name" type="text" size="45" autocomplete="on">
			    </div>
			</div>
    		<div class="form-group row">
			    <label class="col-sm-2 col-form-label" th:text="#{check.code}"></label>
			    <div class="col-sm-10">
			      <input id="id_code" name="code" type="number" size="4" min="0" step="1">
			    </div>
			</div>			  
    		<div class="form-group row">
			    <label class="col-sm-2 col-form-label" th:text="#{check.quant}"></label>
			    <div class="col-sm-10">
			      <input name="quant" type="number" value="0" min="0" step="0.1" required >
			    </div>
			</div>
    		<div class="form-group row">
			    <label class="col-sm-2 col-form-label" th:text="#{check.nds}"></label>
			    <div class="col-sm-10">
			      <input name="nds" type="number" value="20" >
			    </div>
			</div>
			<button type="submit" class="btn btn-primary" name="btnAddCheckspec" th:text="#{check.addgood}"></button>
		</FORM>
		<FORM method="POST">
			<button type="submit" class="btn btn-primary" name="btnCreateCheck" th:text="#{check.createcheck}"></button>
			<button type="submit" class="btn btn-primary" name="btnCancelCheck" th:text="#{check.cancelcheck}"></button>
		</FORM>
			<div th:if="${session.addcheckspecs != null and session.addcheckspecs.size() > 0}">
				<table class="table table-sm">
				<thead class="thead-dark">
				<tr>
					<th th:text="#{check.num}"></th>
					<th th:text="#{check.goodname}"></th>
					<th th:text="#{check.code}"></th>
					<th th:text="#{check.quant}"></th>
					<th th:text="#{check.price}"></th>
					<th th:text="#{check.nds}"></th>
					<th th:text="#{check.ndstotal}"></th>
					<th th:text="#{check.total}"></th>
					<th>Delete</th>
				</tr>
				</thead>
				<tr th:each="checkspecs, rowStat : ${session.addcheckspecs}">
					<td th:text="${rowStat.count}"></td>
					<td th:text ="${checkspecs.goods.name}"></td>
					<td th:text ="${checkspecs.goods.code}"></td>
					<td th:text ="${checkspecs.quant}"></td>
					<td th:text ="${checkspecs.price}"></td>
					<td th:text ="${checkspecs.nds}"></td>
					<td th:text ="${checkspecs.ndstotal}"></td>
					<td th:text ="${checkspecs.total}"></td>
					<td style="text-align: center"><a th:href="@{'/check/del/{count}'(count=${rowStat.count})}">delete</a></td>
				</tr>
				</table>
			</div>
    	</div>
	 <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>