<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
     <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
     <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	 	<div class="collapse navbar-collapse" id="navbarNavDropdown"> 	
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:if="${session.user} != null" th:text="${session.user.name}"></a></li>
				<li class="nav-item"><a class="nav-link" href="goods" 
			  	 	th:if="${session.user != null and session.user.userType.type == 'goods_spec'}" th:text="#{menu.goods}"></a>		  
			  	<li class="nav-item"><a class="nav-link" href="check" 
			  		th:if="${session.user != null 
			  		and (session.user.userType.type == 'cashier' or session.user.userType.type == 'senior_cashier')}" th:text="#{menu.check}"></a>		  
			  	<li class="nav-item"><a class="nav-link" href="cancel" 
			  		th:if="${session.user != null and session.user.userType.type == 'senior_cashier'}" th:text="#{cancel.check}"></a>
			    <li class="nav-item"><a class="nav-link" href="/logout" th:if="${session.user} != null" th:text="#{menu.logout}"></a>
			    <li class="nav-item"><a class="nav-link" href="/" th:if="${session.user} == null" th:text="#{menu.enter}"></a>
		    	<li class="nav-item dropdown">
	            	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" 
	            		aria-haspopup="true" aria-expanded="false" th:text="#{lang}">          
	       			</a>
			      	<div class = "dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				        <a class="dropdown-item" href="?lang=ru" >Русский</a>
				        <a class="dropdown-item" href="?lang=ua" >Українська</a>
				        <a class="dropdown-item" href="?lang=en" >English</a>
			        </div>	      
		    	</li>
		    	
			</ul>
		</div>
	</nav>
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>    
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>